<table class="table table-hover">
    <tr>
        <td> File Name </td>
        <td> {{ image_data.file_name }} </td>
    </tr>
    <tr>
        <td> Dimensions </td>
        <td> {{ image_data.dimensions }} </td>
    </tr>
    <tr>
        <td> Color Space </td>
        <td> NA </td>
    </tr>
    <tr>
        <td> File Size </td>
        <td> {{ image_data.file_size }} </td>
    </tr>
    <tr>
        <td> File Type </td>
        <td> {{ image_data.file_type }} </td>
    </tr>
    <tr>
        <td> No. of pixels </td>
        <td> NA </td>
    </tr>
</table>
