{% extends "base.html" %}
{% load static %}

{% block content %}
    <hr class="divider">
    <h4> Image details </h4>
    <div class="row">
    <div class="control-label col-md-2 col-sm-2 col-xs-12">
        <h6> Original Image </h6>
        <img src="{{ original_path }}">
    </div>
    </div>
    <div class="row">
    <div class="control-label col-md-2 col-sm-2 col-xs-12">
        <h6> Greyscale Image </h6>
        <img src="{{ greyscale_path }}">
    </div>
    </div>
    <div class="row">
    <div class="control-label col-md-2 col-sm-2 col-xs-12">
        <h6> Resized Image </h6>
        <img src="{{ resize_path }}">
    </div>
    </div>
    <hr class="divider">
    <div class="row">
    <div class="control-label col-md-2 col-sm-2 col-xs-12">
        {% include '_image_details.html' %}
    </div>
    </div>
{% endblock %}
